.create {
  //max-width: 90vw;
  margin-top: 2rem;
  padding: 1rem;
  flex: 1;
  color: $header-background;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  h3 {
    text-align: center;
  }
  .form {
    margin: auto;
    flex: 1;

    input[type="text"] {
      font-size: 2.4rem;
      color: $background-secondary;
      &::placeholder {
        color: $background-secondary;
      }
    }
  }
  textarea {
    box-shadow: inset 0.1rem 0.1rem 1rem #666666, inset -0.1rem -0.1rem 1rem #666666;
    font-family: inherit;
    font-size: 1.6rem;
    width: 100%;
    padding: 2rem;
    border: none;
    outline: none;
    border-radius: 2rem;
    height: 80%;
    margin-bottom: 2rem;
    min-height: 20rem;
  }

  .tag-holder {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 2rem;
    .labelfortags {
      font-size: 1.4rem;
      margin-bottom: 0;
      margin-right: 1rem;
      color: #888;
      font-weight: 600;
      display: flex;
    }
  }

  .tag {
    margin: 0.2rem;
    padding: 0.4rem;
    font-size: 1.5rem;
    background-color: $header-background;
    color: #ddd;
    &:not(:last-child) {
      margin-right: 1rem;
    }

    &:hover {
      background-color: darken($header-background, 5%);
    }
  }

  .remove-tag::after {
    cursor: pointer;
    content: "x";
    display: inline-block;
    font-size: 2rem;
    margin-left: 1rem;
  }
}

// @media screen and (max-width: 1000px) {
//   .create {
//     width: 100%;
//   }
// }
