@import url("https://fonts.googleapis.com/css?family=Dosis&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
.heading-3 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.form {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form label {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
}

.form input {
  font-weight: 700;
  border: none;
  outline: none;
  width: 100%;
  font-family: inherit;
}

.form input[type="text"],
.form input[type="password"] {
  font-size: 2rem;
  padding: 0.3rem;
  margin-bottom: 4rem;
  background-color: transparent;
  border-bottom: 2px solid #e24f48;
}

.form input[type="submit"] {
  cursor: pointer;
  color: white;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 20%;
  padding: 1rem;
  background-color: #46AC52;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.form input[type="submit"]:hover {
  background-color: #378841;
}

.error {
  margin-bottom: 2rem;
  font-size: 3rem;
  color: red;
  font-size: 2rem;
  font-weight: 600;
}

@media only screen and (max-width: 800px) {
  .form {
    width: 90%;
  }
}

@media only screen and (max-width: 500px) {
  .form input[type="submit"] {
    width: 100%;
  }
}

.header {
  font-family: Dosis;
  grid-column: 1/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-color: #e24f48;
  border-bottom: 4px solid #e45d57;
  padding: 1rem;
  color: #DDD;
  text-shadow: .2rem .3rem .5rem black;
}

.header__name {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__name i {
  font-size: 7rem;
  margin-right: 3rem;
}

.header__name h2 {
  letter-spacing: 1rem;
  margin-left: 3rem;
  font-size: 3.5rem;
}

.sidebar {
  padding: 1rem;
  border-top: none;
  background-color: #e24f48;
  grid-row: 2/-1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar__nav--items {
  position: relative;
  font-size: 1.8rem;
  height: 100%;
  width: 100%;
  padding: 1rem;
}

.sidebar__nav--items button {
  text-align: left;
  outline: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  background-color: inherit;
}

.sidebar__nav--items a,
.sidebar__nav--items button {
  width: 100%;
  display: block;
  color: blanchedalmond;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.sidebar__nav--items::before {
  top: 0;
  left: 0;
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  display: block;
  z-index: 1;
}

.sidebar__nav--items:hover::before {
  width: 100%;
  background-color: salmon;
  -webkit-transition: width 0.3s ease-out 0.1s;
  transition: width 0.3s ease-out 0.1s;
}

@media only screen and (max-width: 1000px) {
  .sidebar {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .sidebar__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sidebar--items::before {
    top: 0;
    left: 0;
    content: none;
    position: absolute;
    height: 10%;
    width: 0%;
    display: block;
    z-index: 1;
  }
  .sidebar--items:hover::before {
    height: 10%;
    background-color: transparent;
    -webkit-transition: width 0.6s ease-out 0.1s;
    transition: width 0.6s ease-out 0.1s;
  }
}

.landing {
  padding: 2rem;
  background-color: #DDD;
  margin-top: 4rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.landing__post {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.landing__pagination {
  font-size: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing__pagination i {
  cursor: pointer;
  margin: 0 2rem;
}

.landing__pagination strong {
  font-size: 2rem;
}

.card {
  font-size: 2rem;
  margin: auto;
  margin-bottom: 3rem;
  padding: 1rem;
  border: 0.2rem solid salmon;
  -webkit-box-shadow: 0.2rem 0.3rem 0.2rem grey;
          box-shadow: 0.2rem 0.3rem 0.2rem grey;
  width: 80%;
  min-height: 30rem;
  white-space: pre-wrap;
}

.login {
  margin: auto;
  height: 50%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 800px) {
  .login {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%;
  }
}

.register {
  margin: auto;
  height: 50%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 800px) {
  .register {
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.create {
  margin-top: 2rem;
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #e24f48;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.create h3 {
  text-align: center;
}

.create .form {
  margin: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.create .form input[type="text"] {
  font-size: 2.4rem;
  color: #e45d57;
}

.create .form input[type="text"]::-webkit-input-placeholder {
  color: #e45d57;
}

.create .form input[type="text"]:-ms-input-placeholder {
  color: #e45d57;
}

.create .form input[type="text"]::-ms-input-placeholder {
  color: #e45d57;
}

.create .form input[type="text"]::placeholder {
  color: #e45d57;
}

.create textarea {
  -webkit-box-shadow: inset 0.1rem 0.1rem 1rem #666666, inset -0.1rem -0.1rem 1rem #666666;
          box-shadow: inset 0.1rem 0.1rem 1rem #666666, inset -0.1rem -0.1rem 1rem #666666;
  font-family: inherit;
  font-size: 1.6rem;
  width: 100%;
  padding: 2rem;
  border: none;
  outline: none;
  border-radius: 2rem;
  height: 80%;
  margin-bottom: 2rem;
  min-height: 20rem;
}

.create .tag-holder {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.create .tag-holder .labelfortags {
  font-size: 1.4rem;
  margin-bottom: 0;
  margin-right: 1rem;
  color: #888;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.create .tag {
  margin: 0.2rem;
  padding: 0.4rem;
  font-size: 1.5rem;
  background-color: #e24f48;
  color: #ddd;
}

.create .tag:not(:last-child) {
  margin-right: 1rem;
}

.create .tag:hover {
  background-color: #df3a32;
}

.create .remove-tag::after {
  cursor: pointer;
  content: "x";
  display: inline-block;
  font-size: 2rem;
  margin-left: 1rem;
}

.blogpost {
  -webkit-box-shadow: inset 0.2rem 0.2rem 0.2rem grey, inset -0.2rem -0.2rem 0.2rem grey;
          box-shadow: inset 0.2rem 0.2rem 0.2rem grey, inset -0.2rem -0.2rem 0.2rem grey;
  white-space: pre-wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 20rem;
  background-color: #e5e5e5;
  padding: 2rem;
  font-size: 1.5rem;
  line-height: 1.5;
  margin: auto;
  width: 60%;
  margin-bottom: 4rem;
}

.blogpost__heading {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #e24f48;
  margin-bottom: 2rem;
}

.blogpost__heading a {
  font-weight: 600;
  -webkit-box-flex: 0.78;
      -ms-flex: 0.78;
          flex: 0.78;
  margin: 0;
  font-size: 2rem;
  color: #e24f48;
}

.blogpost__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media only screen and (max-width: 1250px) {
  .blogpost {
    width: 70%;
  }
}

@media only screen and (max-width: 1000px) {
  .blogpost {
    width: 80%;
  }
}

@media only screen and (max-width: 500px) {
  .blogpost {
    width: 100%;
  }
}

.fullpost {
  width: 80%;
  height: 80%;
  margin: 4rem auto;
}

.fullpost__header {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fullpost__header h3 {
  color: #e24f48;
  letter-spacing: 1px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0;
}

.fullpost__header strong {
  margin-top: 2rem;
  font-size: 1.2rem;
}

.fullpost__content {
  font-family: inherit;
  background-color: #e5e5e5;
  width: 80%;
  margin: auto;
  margin-top: 4rem;
  min-height: 20rem;
  padding: 2rem;
  font-size: 2rem;
  -webkit-box-shadow: inset 0.2rem 0.2rem 0.2rem grey, inset -0.2rem -0.2rem 0.2rem grey;
          box-shadow: inset 0.2rem 0.2rem 0.2rem grey, inset -0.2rem -0.2rem 0.2rem grey;
  white-space: pre-wrap;
}

.fullpost__comments {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fullpost__comments span {
  font-size: 1.4rem;
}

@media only screen and (max-width: 500px) {
  .fullpost {
    width: 90%;
  }
}

.comment {
  padding: 1rem;
  font-size: 1.5rem;
  width: 50%;
  margin-bottom: 2rem;
  border-bottom: 1px solid #000;
}

.comment__author {
  font-size: 1.2rem;
  font-weight: 600;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.comment__author span {
  font-family: Dosis;
  letter-spacing: 1px;
}

@media only screen and (max-width: 700px) {
  .comment {
    width: 90%;
  }
}

.Loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #aa558c;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #aa558c), color-stop(42%, rgba(170, 85, 140, 0)));
  background: linear-gradient(to right, #aa558c 10%, rgba(170, 85, 140, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.Loader:before {
  width: 50%;
  height: 50%;
  background: #aa558c;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.Loader:after {
  background: #ffffff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: Nunito, sans-serif;
}

#root {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20rem 6fr;
      grid-template-columns: 20rem 6fr;
  -ms-grid-rows: min-content 1fr;
      grid-template-rows: -webkit-min-content 1fr;
      grid-template-rows: min-content 1fr;
}

.container {
  grid-column: 2/-2;
  grid-row: 2/-1;
  background-color: #DDD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

a:link,
a:visited {
  text-decoration: none;
}

ul {
  list-style: none;
}

.activelink {
  color: #ffc267 !important;
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 55%;
  }
  #root {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: max-content min-content 1fr;
        grid-template-rows: -webkit-max-content -webkit-min-content 1fr;
        grid-template-rows: max-content min-content 1fr;
  }
  .container {
    grid-row: 3/-1;
  }
}

@media only screen and (max-width: 500px) {
  html {
    font-size: 50%;
  }
}
