.register {
  margin: auto;
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 1000px) {
  .register {
    margin-top: 4rem;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 800px) {
  .register {
    width: 100%;
    height: 100%;
    justify-content: center;
  }
}
