.card {
  font-size: 2rem;
  margin: auto;
  margin-bottom: 3rem;
  padding: 1rem;
  border: 0.2rem solid salmon;
  box-shadow: 0.2rem 0.3rem 0.2rem grey;
  width: 80%;
  min-height: 30rem;
  white-space: pre-wrap;
}
